@import "/src/index.scss";

.explanation_wrapper {
  height: $height-full-view;
  background-color: $color-light-gray;
  padding: 54px 65px;

  .explanation {
    height: 100%;
    max-height: calc($height-view);
    background: $color-light-gray url("../../resources/explanation/line_desktop.svg")
      no-repeat center;
    background-size: contain;
    position: relative;

    h1 {
      font-family: Helvetica Neue, Bold;
    }

    .explanation_timeline {
      margin-top: 25px;

      div {
        position: absolute;
        display: flex;

        section {
          display: flex;
          flex-direction: column;

          * {
            margin: 0 8px;
          }
        }
      }

      &_step1 {
        top: 6%;
        left: 3%;
        font-size: 0.8rem;
        section {
          max-width: 250px;
        }
      }
      &_step2 {
        top: 24%;
        left: 30%;
        font-size: 0.8rem;

        section {
          max-width: 324px;
        }
      }
      &_step3 {
        bottom: 35%;
        left: 46%;
        font-size: 0.8rem;

        section {
          max-width: 324px;
        }
      }
      &_step4 {
        bottom: 10%;
        left: 65%;
        font-size: 0.8rem;
        align-items: end;

        section {
          max-width: 324px;
        }
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .explanation_wrapper {
    padding: 8px 25px;
    .explanation {
      background: url("../../resources/explanation/line_tablet.svg")
        no-repeat center;

      .explanation_timeline {
        &_step1 {
          top: 3%;
          left: 60%;
          font-size: 0.7rem;
        }
        &_step2 {
          top: 27%;
          left: 60%;
          font-size: 0.7rem;
        }
        &_step3 {
          bottom: 34%;
          left: 43%;
          font-size: 0.7rem;
        }
        &_step4 {
          bottom: 9%;
          left: 26%;
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .explanation_wrapper {
    padding: 8px 18px;
    .explanation {
      margin-top: 24px;
      background: url("../../resources/explanation/line_mobile.svg")
        no-repeat center;

      .explanation_timeline {
        &_step1 {
          left: 32%;
          font-size: 0.6rem;
        }
        &_step2 {
          top: 25%;
          left: 37%;
          font-size: 0.6rem;
        }
        &_step3 {
          bottom: 29%;
          left: 30%;
          font-size: 0.6rem;
        }
        &_step4 {
          bottom: 4%;
          left: 24%;
          font-size: 0.6rem;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .explanation_wrapper {
    min-width: 275px;
    min-height: calc($height-view + 9vh);
    padding: 8px 8px;
    h1 {
      margin: 0 24px;
    }
    .explanation {
      background: url("../../resources/explanation/line_mobile.svg")
        no-repeat center;

      .explanation_timeline {
        &_step1 {
          top: 0;
          left: 28%;
          font-size: 0.6rem;
        }
        &_step2 {
          top: 24%;
          left: 30%;
          font-size: 0.6rem;
        }
        &_step3 {
          bottom: 29%;
          left: 22%;
          font-size: 0.6rem;
        }
        &_step4 {
          bottom: 0;
          left: 20%;
          font-size: 0.6rem;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .explanation_wrapper {
    min-width: 275px;
    margin: 24px 0;
    h1 {
      margin: 0 24px;
    }
    .explanation {
      background: url("../../resources/explanation/line_mobile.svg")
        no-repeat center;

      .explanation_timeline {
        &_step1 {
          top: 0;
          left: 24%;
          font-size: 0.6rem;
        }
        &_step2 {
          top: 24%;
          left: 23%;
          font-size: 0.6rem;
        }
        &_step3 {
          bottom: 24%;
          left: 22%;
          font-size: 0.6rem;
        }
        &_step4 {
          bottom: 0;
          left: 21%;
          font-size: 0.6rem;
        }
      }
    }
  }
}
