//SCALES
$height-header: 5rem;
$height-view: calc(100vh - $height-header);
$height-full-view: 100vh;

//COLORS
$color-white: white;
$color-light-gray: #f7f8fa;
$color-orange: rgb(247, 131, 23);

//TEXT
$text-color-primary: #3c3c3c;

//FONT SIZE
$fs-paragraph: 1rem;
$fs-title: 4rem;
$fs-sec-title: 4rem;
