@import "/src/index.scss";

.faqs__container {
  min-height: calc($height-view - $height-footer - 20px);
  text-align: center;
  padding: 10px 0;

  .faqs__rectangles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 5px;
  }
}

@media screen and (max-width: 968px) {
  .faqs__container {
    padding: 10px 30px;
  }
}
