.faqs__container {
  height: calc(100vh - 14rem);
  text-align: center;
  padding: 2rem;

  .faqs__rectangles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 3rem 0;
  }
}
